body {
	background-color:#fcfcfc;
	color:#555;
	text-shadow:0 1px 0 rgba(255, 255, 255, 0.8);
	font-family:"Helvetica";
}

h1, h2, h3, h4 {
	color:#353535;
	font-weight:normal;
}

h1 a, h2 a, h3 a, h4 a {
	color:inherit;
	text-decoration:none !important;
	vertical-align:top;
}

h1 {
	letter-spacing:-1px;
}

h1 em {
	color:#374b77;
	font-style:normal;
	font-weight:bold;
	vertical-align:top;
}

a {
	color:#70ccef;
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}

a img {
	border:none;
}

.Grid img {
	border:1px;
	border-style:solid;
	border-color:#E0E0E0;
	padding:2px;
}

img {
	box-shadow:0 0 3px rgba(0, 0, 0, 0.36);
}

.Users a img {
	box-shadow:none;
}